@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-[#0D0D0D] font-sans antialiased;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #D4D4D4;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #A3A3A3;
}
